<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <link rel="stylesheet" href="main.css">
        <title>Artikles</title>
    </head>
    <body>
        <div id="mainContainer">
            <div id="leftContainer">
                <div id="tagsSummary"></div>
            </div>

            <div id="rightContainer">
                <div id="formCreate">
                    <input id="inpId" type="hidden" />
                    <input id="inpCreated" type="hidden" />
                    <input id="inpUpdated" type="hidden" />
                    <input id="inpLikes" type="hidden" />
                    <input id="inpTitle" type="text" placeholder="title" title="come to the point; essence" /><br/>
                    <input id="inpTags" type="text" placeholder="tags" title="whitespace seperated list without hashtags" /><br/>
                    <textarea id="inpBody" title="body" placeholder="body"></textarea><br/>
                    <div>
                        <input id="btnCreate" value="create" type="button" class="crudButton" />
                        <input id="btnUpdate" value="update" type="button" class="crudButton" />
                        <input id="btnCancel" value="cancel" type="button" class="crudButton" />
                        <input id="btnDelete" value="delete" type="button" class="crudButton" />
                    </div>
                </div>

                <div id="searchDiv">
                    <input id="inpSearch" type="text" title="search" placeholder="search ..." />
                    <input id="btnCancelSearch" type="button" value="cancel" />
                </div>
                <div id="articleList"></div>
                <div id="articleListCountContainer">
                    <div id="articleListCount">0</div>
                </div>
            </div>
        </div>
        <script src="./renderer.js"></script>
    </body>
</html>
