
/** GENERAL
/*********************************************************************************************************************/
body {
    /* top right bottom left*/
    padding: 30px 40px 0 40px;
    margin: 0 0 0 0;
    background-color: #DCF8FA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=button] {
    width: 250px;
    font-size: 16pt;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#leftContainer {
    float: left;
    width: 150px;
}
#rightContainer {
    margin-left: 150px;
}

/** INPUT FORM
/*********************************************************************************************************************/

#inpTitle, #inpBody, #inpTags {
    width: 100%;
    font-size: 13pt;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
    background-color: rgb(199, 228, 247);
    margin: 0;
    margin-bottom: 8px;
}

#inpBody {
    height: 150px;
    border-color: lightgray;
}

/** SEARCH
/*********************************************************************************************************************/

#inpSearch {
    font-size: 14pt;
    width: 750px;
    margin-top: 6px;
}

/** ARTICLE ITEM
/*********************************************************************************************************************/

.articleNode {
    background-color: white;
    border: lightgray 1px solid;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}

.articleTitle , .articleBody, .articleTags {
    margin: 0;
}

.articleTitle {
    font-size: 13pt;
    font-weight: bold;
}
.articleTags {
    font-size: 8pt;
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 3px;
}
.articleBody {
    font-size: 11pt;
    font-family: 'Courier New', Courier, monospace;
}

/** TAGS
/*********************************************************************************************************************/

#tagsSummary > ul {
    list-style-type: none;
    margin: 0 0 0 0;
}

#tagsSummary > ul, #tagsSummary > li {
    padding: 0 0 0 0;
}

/** MISC
/*********************************************************************************************************************/

.tagSummaryLink,
.articleTitle > a,
.clickableTag {
    color: lightskyblue;
    text-decoration: none;
    cursor: pointer;
}

.tagSummaryLink:hover,
.articleTitle > a:hover,
.clickableTag:hover {
    color: blue;
}
