/** GENERAL
/*********************************************************************************************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    /* top right bottom left*/
    padding: 15px 10px 0 10px;
    background-color: #efefef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#leftContainer {
    overflow-y: auto;
    position: absolute;
    width: 180px;
    top: 0;
    bottom: 0;
    left: 10px;
}

#rightContainer {
    margin-left: 190px;
    margin-bottom: 0;
    /*background-color: yellow;*/
}

#articleList {
    overflow-y: auto;
    position: absolute;
    top: 320px;
    bottom: 0;
    left: 200px;
    right: 10px;
    /*background-color: green;*/
}

/** GENERIC
/*********************************************************************************************************************/

input[type=button], select {
    width: 150px;
    height: 26px;
    font-size: 16pt;
}

input[type=button], select, .articleCmdButton {
    border-radius: 6px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 6px 3px 5px -2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 6px 3px 5px -2px rgba(0, 0, 0, 0.32);
    box-shadow: 6px 3px 5px -2px rgba(0, 0, 0, 0.32);
}


input[type=button]:hover, select:hover {
    background-color: grey;
}

.tagsLink,
.articleTitle > a,
.articleCmdButton,
.clickableTag {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.tagsLink:hover,
.tagSummaryLink:hover,
.articleTitle > a:hover,
.articleCmdButton:hover,
.clickableTag:hover {
    color: grey;
    text-decoration: underline;
}

/** INPUT FORM
/*********************************************************************************************************************/

#inpTitle, #inpBody, #inpTags {
    width: 100%;
    font-size: 13pt;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
    background-color: white;
    margin: 0 0 8px 0;
}

#inpBody {
    height: 150px;
    border-color: lightgray;
}

/** SEARCH & SORT
/*********************************************************************************************************************/

#inpSearch {
    font-size: 14pt;
    width: 750px;
    margin-top: 16px;
}

#searchSortContainer {
    display: flex;
}

#sortDiv {
    right: 10px;
    position: absolute;
}

#sortSelect {
    font-size: 11pt;
    font-weight: normal;
}

/** ARTICLE LIST/ITEM
/*********************************************************************************************************************/

#articleListCountContainer {
    border-top-left-radius: 6px;
    position: absolute;
    background-color: rgba(216, 216, 216, 0.6);
    bottom: 0;
    right: 0;
    width: 50px;
    padding: 5px 9px 5px 0;
}

#articleListCount {
    color: rgba(0, 0, 0, 0.6);
    font-size: 9pt;
    font-style: italic;
    float: right;
}

.articleNode {
    background-color: white;
    border: lightgray 1px solid;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}

.articleTitle, .articleBody, .articleTags {
    margin: 0;
}

.articleTitle {
    font-size: 13pt;
    font-weight: bold;
}

.articleTags {
    font-size: 8pt;
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 3px;
}

.articleBody {
    font-size: 11pt;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    width: 100%;
    overflow: auto;
}

.articleCmdbar {
    margin-top: 4px;
}

.articleCmdButton {
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 11px;
    text-decoration: none;
}

.articleCmdButton:hover {
    color: white;
    text-decoration: none;
    background-color: grey;
}

/** TAGS
/*********************************************************************************************************************/

#tagsSummary > ul {
    list-style-type: none;
    margin: 0 0 0 0;
}

#tagsSummary > ul, #tagsSummary > li {
    padding: 0 0 0 0;
}

/** MISC
/*********************************************************************************************************************/
